.about-sec {
    width: 100%;
    height: 665px;
    background-image: url(../images/about__bg.png);
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .about-sec__photo {
        width: 200px;
        height: 200px;
        margin: auto 50px auto 250px;
    }
    .about-sec__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .about-sec__text {
            width: 70%;
            color: #fff;
            line-height: 30px;
            font-size: 17px;
            .about-sec__contact {
                text-align: right;
                margin-right: 150px;
                margin-top: 20px;
                .about-sec__icon {
                    background: #fff;
                    color: $colorBlue;
                    padding: 10px;
                    border-radius: 50%;
                    font-size: 26px;
                    margin-right: 25px;
                }

                .about-sec__icon:nth-child(4) {
                    margin-right: 0;
                }
            }
        }
    }
}