.about__boxContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 35px 0px;
}

.about__image {
    width: 22%;
}

.about__textBox {
    width: 40%;
}

.about__textContent {
    margin-top: 25px;
    &:first-child {
        margin-top: 0px;
    }
}

.about__textTitle {
    color: $lightRed;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
}

.about__textInformation {
    line-height: 25px;
}