@-webkit-keyframes headerButton {
    0% {
        background: $colorBlue;
        color: #fff;
    }
    100% {
        background: rgba(0,0,0,0.01);
        color: $colorBlue;
    }
}
@keyframes headerButton {
    0% {
        background: $colorBlue;
        color: #fff;
    }
    100% {
        background: rgba(0,0,0,0.01);
        color: $colorBlue;
        color: $colorBlue;
    }
}