html {
    font-family: $fontPoppins;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.site__arrowTop {
    position: fixed;
    right: 25px;
    bottom: 25px;
    .fa-chevron-up {
        color: #fff;
        background: $colorBlue;
        font-size: 34px;
        padding: 10px 10px;
        border-radius: 50%;
    }
}