html {
    font-family: $fontPoppins;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.site__arrowTop {
    position: fixed;
    right: 25px;
    bottom: 25px;
    .fa-chevron-up {
        color: #fff;
        background: $colorBlue;
        font-size: 26px;
        padding: 9px;
        border-radius: 50%;
        border: 2px solid #fff;
    }
}