html {
    font-family: $poppins;
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: $darkGray;
}

a {
    text-decoration: none;
    outline: none;
}

.about,
.offer {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}

.title__section {
    text-align: center;
    padding: 75px 0px;
    line-height: 30px;
    h2 {
        color: $lightRed;
        font-weight: 500;
        font-size: 30px;
    }
    h3 {
        color: $lightGray;
        font-size: 18px;
    }
}