html {
    font-family: $fontPoppins;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.site__arrowTop {
    position: fixed;
    right: 0;
    bottom: 0;
    i {
        color: #fff;
        background: $colorBlue;
        font-size: 34px;
        padding: 5px 10px;
    }
}