.contact__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-bottom: 80px;
    background: transparent;
    height: 55%;
}

.contact__form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contact__oneItem {
    background: $white;
    padding: 10px 35px;
    border-radius: 20px;
    margin-bottom: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    a {
        color: $darkGray;
    }
}

.contact__icon {
    color: $lightRed;
    font-size: 28px;
    margin-right: 10px;
}

.contact__text {
    font-size: 18px;
    font-weight: 500;
}

footer {
    color: $white;
    background: $darkGray;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .fa-heart {
        color: #f11c51;
        margin: 0px 5px;
    }
    .fa-mug-hot {
        color: #cfa186;
        margin: 0px 5px;
    }
}