.contact__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-bottom: 80px;
    background: transparent;
}

.contact__form {
    width: 100%;
}

footer {
    color: $white;
    background: $darkGray;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .fa-heart {
        color: #f11c51;
        margin: 0px 5px;
    }
    .fa-mug-hot {
        color: #cfa186;
        margin: 0px 5px;
    }
}