header {
    width: 100%;
    height: 100%;
    background: url(../images/header__bg.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 150px;
    z-index: 999;
}

.header__navMobile {
    span {
        &:nth-child(1) {
            width: 35px;
            height: 4px;
            background: $white;
            border-radius: 10px;
            display: block;
        }
        &:nth-child(2) {
            width: 35px;
            height: 4px;
            background: $white;
            border-radius: 10px;
            display: block;
            margin-top: 10px;
        }
    }
}

.navbar-scroll {
    position: fixed;
    width: 100%;
    height: 75px;
    background: $darkGray;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header__navLogoBox {
    padding-left: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    span {
        margin-left: 25px;
        color: $white;
        font-weight: 400;
        font-size: 18px;
    }
}

.header__navLogo {
    width: 50px;
}

.header__navItemBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 75px;
}

.header__navItem {
    font-size: 16px;
    margin-right: 45px;
    &:last-child {
        margin-right: 0px;
    }
    a {
        color: $white;
        text-decoration: none;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: $lightRed;
        }
    }
}

.header__titleBox {
    text-align: center;
    height: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: $white;
}

.header__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 38px;
    font-weight: 300;
    line-height: 40px;
}

.header__titleSmall {
    font-size: 20px;
}

.header__button {
    border: 0;
    background-color: $lightRed;
    color: $white;
    font-family: $poppins;
    font-weight: 300;
    letter-spacing: 0.4mm;
    margin-top: 50px;
    padding: 10px 55px;
    border-radius: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        background: rgba(239,35,60,0.7);
        cursor: pointer;
    }
}

.active__link {
    color: $lightRed !important;
    font-weight: 500 !important;
}