.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 50px 100px;
    .navbar__logo {
        .navbar__logoIcon {
            width: 75px;
        }
    }
    .navbar__list {
        text-align: right;
        .navbar__listItem {
            margin: 25px 0px;
            .navbar__listLink {
                color: $colorGray;
                text-decoration: none;
                font-size: 22px;
                font-weight: 300;
            }
        }
    }
}