.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 75px;

    .navbar__logo {
        .navbar__logoIcon {
            width: 75px;
        }
    }
}