@media(max-width: 780px) {
    .navbar {
        padding: 20px;
        .navbar__logo {
            .navbar__logoIcon {
                width: 45px;
            }
        }
        .navbar__list {
            .navbar__listItem {
                margin: 15px 0px;
                .navbar__listLink {
                    font-size: 16px;
                }
            }
        }
    }
    .content-header {
        margin-top: 20px;
        .content-header__textSmall {
            font-size: 18px;
        }
        .content-header__textBig {
            font-size: 32px;
        }
        .content-header__arrow {
            margin-top: 70px;
            .fa-chevron-down {
                font-size: 36px;
            }
        }
    }
    .about-sec {
        .about-sec__photo {
            width: 180px;
            height: 180px;
            margin: -15px auto 15px auto;
        }
        .about-sec__content {
            text-align: center;
            .about-sec__text {
                width: 90%;
                font-size: 16px;
                .about-sec__contact {
                    text-align: center;
                    margin-right: 0px;
                    margin-top: 50px;
                    .about-sec__icon {
                        padding: 3px 10px;
                        font-size: 26px;
                    }
                }
            }
        }
    }
}