@media(max-width: 1300px) {
    .contact-sec__socialOne {
        padding-left: 100px;
    }
}

@media(max-width: 780px) {
    .header__navLogoBox {
        padding-left: 30px;
        span {
            display: none;
        }
    }

    .hamburger {
        display: inline-block;
        padding-right: 30px;
    }

    .header__navItemBox {
        display: none;
    }

    .about__boxContent {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .about__image {
        width: 100%;
        text-align: center;
    }
    
    .about__textBox {
        width: 80%;
        text-align: center;
        margin-top: 50px;
    }

    .offer__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .offer__box {
        width: 100%;
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .form {
        width: 90%;
    }

    .form-send-success {
        width: 90%;
        text-shadow: 0px 0px 1px #000;
    }

    .send-error {
        width: 90%;
        text-shadow: 0px 0px 1px #000;
    }
}