.offer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.offer__box {
    width: 50%;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &:nth-child(1),
    &:nth-child(4) {
        background: $lightRed;
    }
    &:nth-child(2),
    &:nth-child(3) {
        background: $white;
    }
}

.offer__boxIcon {
    width: 10%;
    font-size: 72px;
    text-align: right;
    color: $white;
}

.offer__boxInformation {
    width: 65%;
    line-height: 25px;
    font-size: 17px;
    font-weight: 300;
    color: $white;
}

.offer__boxTitle {
    font-size: 18px;
    font-weight: 500;
    height: 50px;
}

.offer__readMore {
    display: block;
    border: 0;
    margin-top: 25px;
    padding: 12px 35px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
}

.buttonWhite {
    color: $lightRed;
    background: $white;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        background: rgba(237,242,244,0.8);
        cursor: pointer;
    }
}

.redTitle {
    color: $lightRed;
}

.darkText {
    color: $darkGray;
    font-weight: 400;
}

.buttonRed {
    color: $white;
    background: $lightRed;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        background: rgba(239,35,60, 0.8);
        cursor: pointer;
    }
}