.offer-sec {
    .offer-sec__title {
        text-align: center;
        margin: 100px 0px;
        .offer-sec__title-h2 {
            color: $colorBlue;
            font-size: 26px;
            font-weight: $fontw500;
        }
    }
}