.portfolio__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.portfolio__image {
    width: 400px;
}

.portfolio__image::after {
    content: 'Sprawdź';
    display: block;
    z-index: 999;
}

.portfolio__buttonBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.portfolio__button {
    margin-top: 75px;
    border: 0;
    padding: 12px 35px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    color: $white;
    background: $lightRed;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        background: rgba(239,35,60, 0.8);
        cursor: pointer;
    }
}