.portfolio__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.portfolio__image {
    width: 400px;
}

.portfolio__imageInformation {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -212px;
    width: 350px;
    height: 158px;
    padding: 25px;
    background: rgba(43,45,66,0.8);
    color: $white;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
        opacity: 1;
    }
    button {
        border: 0;
        padding: 12px 35px;
        border-radius: 20px;
        font-weight: 600;
        font-size: 15px;
        color: $white;
        background: $lightRed;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        &:hover {
            background: rgba(239,35,60, 0.8);
            cursor: pointer;
        }
    }
}

.portfolio__buttonBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.portfolio__button {
    margin-top: 75px;
    border: 0;
    padding: 12px 35px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    color: $white;
    background: $lightRed;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        background: rgba(239,35,60, 0.8);
        cursor: pointer;
    }
}